/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    padding: 1rem; /* Add padding to ensure content is not flush against edges */
  }
  
  /* Modal Content */
  .modal-dialog {
    background-color: #fefefe;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: auto; /* Let the width be determined by its content */
    max-width: 600px; /* Maximum width so it doesn't get too large on big screens */
  }

  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 10px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Show/Hide the Modal */
  .show {
    display: flex; /* Show the modal */
  }
  
  .card {
    max-width: 18rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0, 0.15);
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-top-left-radius: calc(5px - 1px);
    border-top-right-radius: calc(5px - 1px);
    font-weight: bold;
  }
  .card-body {
    padding: 0.2rem;
    padding-left: 1rem;
    background-color: rgba(0,0,0,.06);
  }
  .card-title {
    margin-bottom: 0.75rem;
  }
  .card-text {
    margin-bottom: 1rem;
    font-size: 0.9rem;
  }

  .form-group{
    margin-bottom: 1rem ;
  }

  input[type="text"] {
    width: 70%;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Prevents the input from extending beyond its container */
    display: inline;
    margin-left: 15px;
  }

  .save {
    width: 100%;
    padding: 5px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
  }